/* Container Styles */
body{
    width:90%;
    margin:0;
}

/* Header and Footer Styles */
header,footer{
    background-color: aqua;
    display:flex;
    justify-content: space-between;

}
/* Main Styles */
main{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
}
ul{
    
    display:flex;
    justify-content: space-between;
    width:250px;
}
section{
    width:70%;
}
article{
    width:30%
}

main img{
    width:100%;
}

