.desktop-only {
    display: none;
}

.mobile-only {
    display: unset;
}

.flex {
    display: flex;

}

.border {
    border: 2px solid black;
}



body {
    background-color: chartreuse;
    align-items: stretch;
    flex-direction: column;
    padding: 10px;
}

header {
    background-color: cyan;
    justify-content: flex-start;
    padding: 5px 5px 5px 0;
}

main {
    padding: 5px 0 15px 0;
}

header nav {
    padding-bottom: 10px; 
}

footer {
    background-color: moccasin;
    justify-content: center;
}

/* Header Nav */

#menu {
    font-size: 1.5em;
    padding: 18px 9px 18px 0;
}

#menu a {
    text-decoration: none;
}

#header-nav ul.flex {
    flex-direction: row;
}

#header-nav ul.flex li {
    padding: 5px 5px;
}

input {
    width: 100%;
}

footer > nav, footer > div {
    padding: 10px 2px; /* Footer */
}

footer > nav > ul li { /* Footer navigation */
    padding: 0 10px;
}

footer > div {
    padding: 10px 10px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0;
    
}

main > h2 {
    order: -1;
}

main.flex {
    flex-direction: column;
    
}

ul.flex {
    justify-content: space-between;
}



@media (min-width: 600px ) {
    .desktop-only {
        display: unset;
    }

    .mobile-only {
        display: none;
    }

    main.flex  {
       flex-direction: column;
       flex-wrap: wrap;
       height: 75vh;
       width: calc(100vw / 2);
    }

   /* main > div {
        flex-direction: column;
    } */

    main > h2 {
        margin-left: 20px;
    }

    header {
        justify-content: space-between;
        padding: 10px 10px;
    }

    footer.flex {
        justify-content: space-between;
    }

    article {
        flex: 0 100%;
        order: -1;
    }

    aside {
        flex: 0 50%;
        margin: 0 20px;
    }

}