body{
    display:flex;
    justify-content: center;
}
body>#container
{
    width:960px;
}
header,footer{
    background-color: aqua;
    display:flex;
    justify-content: space-between;

}
header nav ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content: space-between;
    width:250px;
}
footer nav ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content: space-between;
    width:250px;
}